
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#quiz-container {
    margin-bottom: 20px;
    width: 100%;
}

#question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color:aqua;
    border-radius: 45%;
}

#score {
    font-weight: bold;
    margin-top: 20px;
}
 .main{
    height: 100%;
    background-image: url('/public/mathQuizFinal.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
  }
  h6{
    color: brown;
    text-decoration: underline;
    font-style: italic;
  }
 footer{
    padding-top: 20%;
 }
  .para{
    text-align: center;
    background-color:lavender;
    line-height: 2;
    font-style: italic;
    border-radius: 9px;
  }
  #message{
font-size: larger;
font-family: 'Times New Roman', Times, serif;
text-decoration: solid;
color:#fff;
background-color:yellow;
}
